/*====================[UTM Avo]====================*/
@font-face{
  font-family:'UTM AvoBold';
  src:url('../fonts/UTM Avo/UTM AvoBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'UTM AvoBold_Italic';
  src:url('../fonts/UTM Avo/UTM AvoBold_Italic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'UTM AvoItalic';
  src:url('../fonts/UTM Avo/UTM AvoItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'UTM Avo';
  src:url('../fonts/UTM Avo/UTM Avo.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}